.Request-now-button{
    background-color: black;
    color: white;
    border-color: none;
    width: 105px;
    height: 37px;
    cursor: pointer;
    border: 1px;
    margin-right: 80px;
    margin-left: 50px;
    margin-top: 40px;
    transition: background-color 0.20s;
    box-shadow: 5px 5px 10px rgb(105, 105, 136);
    
    }
    .Request-now-button:hover{
        background-color: rgb(68, 2, 2);
    }
    .Request-now-button:active{
        background-color: purple;
    }
    .Add-to-cart-button{
        background-color: rgb(250, 250, 2);
        color: black;
        height: 37px;
        width: 230px;
        border-radius: 30px;
        border-color: rgb(245, 245, 6);
        margin-right: 80px;
        cursor: pointer;
        border: 1px;
        transition: background-color 0.30s;
        box-shadow: 5px 5px 10px rgb(131, 131, 97);
        padding-left: opx;
    
        
    }
    .Add-to-cart-button:hover{
        background-color: rgb(77, 77, 4);
    }
    .Add-to-cart-button:active{
        background-color: blueviolet;
    }
    .Sign-up-button{
        background-color: green;
        color: white;
        height: 37px;
        width: 105px;
        border: 1px;
        border-color: green;
        cursor: pointer;
        border-radius: 10px;
        transition: background-color 0.30s;
        box-shadow: 5px 5px 10px rgb(1, 53, 40);
    
    }
    .Sign-up-button:hover{
        background-color: rgb(7, 65, 7);
    }
    .Sign-up-button:active{
        background-color: blue;
    }
    